apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flask-ci-cd
  template:
    metadata:
      labels:
        app: flask-ci-cd
    spec:
      containers:
      - name: flask-app
        image: rajkumarr1206/flask-ci-cd-app:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 5000

